.verde {
    background-color: #82CD47;
    border: 1px solid #82CD47;
    padding: 15px 10px;
    border-radius: 50%;
}

.vermelho {
    background-color: #E76161;
    border: 1px solid #E76161;
    padding: 15px 10px;
    border-radius: 50%;
}

.calendar {
    margin: 0 auto;
    width: fit-content;
}